@model IEnumerable<dotnetShop.Models.Candy>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        @foreach (var candy in Model)
        {
            <div>
                <h2> @candy.Name </h2>
                <h3>@candy.Price.ToString("c")</h3>
                <h4>@candy.Category.CategoryName</h4>
            </div>
        }

    </body>
</html>